<%= image_tag("logos/privacygate_logo.png", :size => "190x26") %>
<p>
  <br />Continue to <strong>PrivacyGate</strong> to complete your payment with cryptocurrency.
  <br />After the payment is confirmed, you’ll be directed back here.
</p>


